.conteiner{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--cinza-claro);
}

.formulario{
    display: flex;
    flex-direction: column;
    background-color: var(--cinza-escuro);
    padding: 30px;
    border-radius: 10px;
}

.campo{
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 6px;
}

.botao{
    background-color: var(--roxo-escuro);
    color: var(--cinza-claro);
    padding: 10px;
    border-radius: 8px;
}

p{
    font-size: 10px;
    font-weight: 600;
    margin-top: -6px;
    margin-bottom: 1rem;
    /* color: red; */
}

.titulo {
    color: var(--roxo-escuro);
    font-size: 2rem;
    margin-bottom: 25px;
}