.conteiner{
    background-color: var(--roxo-escuro);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 600px;
    padding: 16px;
    border-radius: 8px;
    transition: transform .25s;
}

.conteiner:hover{
    transform: scale(1.015);
    box-shadow: 0px 0px 10px 0px var(--roxo-escuro);
}
