.conteiner{
    display: flex;
    flex-direction: column;
    color: #fff;
}

.conteiner img{
    width: 100%;
    border-radius: 8px;
}

.conteiner figcaption{
    padding: 12px 0;
}

.conteiner p{
    padding: 3px 0;
    font-size: 13px;
}